tbody tr td a {
    text-decoration: none;
}

tbody tr td a button {
    border-radius: 10px;
    background-color: #EB5B38;
    color: white;
    padding: 5px;
    font-size: 0.8rem;
    width: 100%;
}

.show-btn {
    background-color: #347CCB !important;
}

.show-btn:hover {
    background-color: #010191 !important;
    cursor: pointer;
}

.edit-btn {
    background-color: #EB5B38 !important;
}

.edit-btn:hover {
    background-color: #d04b2b !important;
    cursor: pointer;
}

.cancel-btn {
    background-color: #ff3300 !important;
}

.cancel-btn:hover {
    background-color: #be2c07 !important;
}

.activate-btn {
    background-color: #4eb51b !important;
}

.action-buttons-table{
    display: flex;
    gap: 5px;
}

.event-wrapper h1 {
    font-size: 2rem !important;
    font-weight: 600 !important;
    color: #1f2937 !important;
    margin: 15px 0 !important;
    padding: 0 0 1rem 0 !important;
    text-align: center;
}

.event-wrapper {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: center;
}

.grid {
    margin: 0 0 20px 0 !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: start;
    width: 900px;
}

.title-hidder-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.event-input-list {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 446px;
}

.text-sm {
    margin-right: 0.5px !important;
}

.event-button-search,
.event-button-pending,
.event-button-export {
    display: inline-block;
    margin-top: 1rem !important;
    padding: 0.5rem 1rem !important;
    background-color: #EB5B38 !important;
    color: #ffffff !important;
    border-radius: 0.5rem !important;
    font-weight: 600 !important;
    text-decoration: none !important;
    text-align: center !important;
}

.event-button-search {
    background-color: #347CCB !important;
}

.event-button-search:hover {
    background-color: #010191 !important;
    cursor: pointer;
}

.event-button-export {
    max-width: 167px;
    background-color: #4eb51b !important;
    cursor: pointer;
}

.event-button-export:hover {
    background-color: #3a7d19 !important;
    cursor: pointer;
}

.event-button-pending:hover{
    background-color: #d04b2b !important;
    cursor: pointer !important;
}

.filter-search-event {
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.action-buttons {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-content: center !important;
    justify-content: center !important;
    align-items: flex-start !important;
    gap: 10px !important;
    grid-column: 1 / -1;
}

.flex {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    align-content: center !important;
    flex-wrap: wrap !important;
}

.left {
    grid-column: 1;
}

.right {
    grid-column: 2;
}

.amount-of-pages {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px !important;
    width: 400px !important;
    overflow: auto;
}

.linha-divisoria-event-manager {
    border: none !important;
    border-top: 2px solid #EB5B38 !important;
    margin: 0 auto !important;
    margin-top: 20px !important;
    width: 930px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}

.export-form {
    align-items: flex-end;
}

@media (max-width: 1555px) {
    table {
        width: 100% !important;
    }

    .action-buttons-table {
        flex-direction: column !important;
        align-items: center;
    }
    .tr-heading,
    .tr-body {
        font-size: 0.7rem !important;
    }
    .filter-search-event,
    .filter-search-event form,
    .flex {
        width: 100%;
    }

    .event-input-list {
        width: 100%;
    }

    .linha-divisoria-event-manager {
        width: 764px !important;
    }

    button.action-buttons {
        margin: 5px;
    }
}

@media (max-width: 1050px) {
    .grid {
        width: 80% !important;
    }
    .event-input-list {
        width: 80% !important;
    }
    table {
        width: 80% !important;
    }

    .linha-divisoria-event-manager {
        width: 564px !important;
    }
}

@media (max-width: 768px) {
    .linha-divisoria-event-manager {
        width: 450px !important;
    }

    .action-buttons-table {
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
        justify-content: flex-start !important;
    }

    .action-buttons-table form {
        align-items: flex-start !important;
    }
}

@media (max-width: 470px) {
    .linha-divisoria-event-manager {
        width: 350px !important;
        margin-top: 5px !important;
    }

    .event-input-list {
        min-width: 100px !important;
    }
}
