.export-btn,
.search-participant-btn {
    display: inline-block;
    padding: 0.5rem 1rem !important;
    background-color: #EB5B38 !important;
    color: #ffffff !important;
    border-radius: 0.5rem !important;
    font-weight: 600 !important;
    text-decoration: none !important;
    text-align: center !important;
}

.export-btn:hover,
.search-participant-btn:hover {
    background-color: #d04b2b !important;
    cursor: pointer !important;
} 

.choose-event {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

.search-filter-export {
    display: flex;
    gap: 5px;
    margin: 15px auto;
    align-items: center;
    justify-content: center;
}

.action-column {
    display: flex;
    flex-direction: row !important;
    gap: 5px;
}

.detach-participant {
    background-color: red;
}

.participant-confirmed {
    background-color: #EB5B38;
}

.participant-not-confirmed {
    background-color: green;
}

.participant-info-event {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.participant-info-event h5,
.participant-info-event span {
    font-weight: 700;
}

.selected-event-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.action-buttons-participants {
    display: flex;
    gap: 10px;
}

.edit-participant-btn {
    display: inline-block;
    padding: 0.5rem 1rem !important;
    background-color: #347CCB !important;
    color: #ffffff !important;
    border-radius: 0.5rem !important;
    font-weight: 600 !important;
    text-decoration: none !important;
    text-align: center !important;
}

.edit-participant-btn:hover {
    background-color: #010191 !important;
    cursor: pointer;
}

.remove-participant-btn {
    display: inline-block;
    padding: 0.5rem 1rem !important;
    background-color: #ff3300 !important;
    color: #ffffff !important;
    border-radius: 0.5rem !important;
    font-weight: 600 !important;
    text-decoration: none !important;
    text-align: center !important;
}

.remove-participant-btn:hover {
    background-color: #be2c07 !important;
    cursor: pointer;
}

.event-wrapper-participant {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: center;
}

.linha-divisoria-participant-list {
    border: none !important;
    border-top: 2px solid #EB5B38 !important;
    margin: 0 auto !important;
    margin-top: 20px !important;
    width: calc(100% - 250px) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}

.submit-excel-file {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


@media (max-width: 655px) {
    .submit-excel-file {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .search-filter-export {
        display: flex;
        flex-direction: column;
    }
    select#search {
        max-width: 300px;
    }
}

@media (max-width: 500px) {
    .event-wrapper-participant h1 {
        font-size: 1rem !important;
    font-weight: 600 !important;
    color: #1f2937 !important;
    margin: 15px 0 !important;
    padding: 0 0 1rem 0 !important;
    text-align: center;
    }
}

@media (max-width: 445px) {
    .add-participant-form {
        align-items: center !important;
        max-width: 315px !important;
        margin: 0 auto !important;
    }
}

@media (max-width: 416px) {
    .participant-list-table {
        margin-left: 40px;
    }
}


@media (max-width: 390px) {
    .participant-list-table {
        margin-left: 40px;
    }
}

@media (max-width: 376px) {
    .participant-list-table {
        margin-left: 55px;
    }
}