.content-header {
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-header .bx {
    color: #EB5B38;
    font-size: 2.5rem;
    position: absolute;
    top: 144px;
}

.title-hidder-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.bx:hover {
    cursor: pointer;
}

/* Títulos e Textos */
h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1f2937;
    margin: 0;
    padding: 0 0 1rem 0;
}

p {
    font-size: 1rem;
    color: #374151;
    line-height: 1.5;
    max-width: 900px;
    text-align: justify;
    margin-bottom: 25px;
    display: none;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid #d1d5db;
    margin: 15px;
}

th, td {
    border: 1px solid #d1d5db;
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
}

th {
    font-weight: 700;
    color: white; 
    background-color: #EB5B38;
}

td {
    color: #1f2937;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f9fafb;
}

@media (max-width: 768px){
    
}