.save-button-profile {
    background-color: #EB5B38 !important;
    font-weight: 500 !important;
}

.save-button-profile:hover {
    background-color: #d04b2b !important;
    cursor: pointer !important;
}

.profile-header-wrapper .bx {
    color: #EB5B38;
    font-size: 2.5rem;
    position: absolute;
    top: 120px;
}

.title-hidder-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.bx:hover {
    cursor: pointer;
}

.max-w-2xl {
    margin: 0 auto !important;
}

.update-profile {
    margin: 0 auto;
}

section p {
    display: contents !important;
}


@media (max-width: 768px) {
    .title-hidder-div  {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .profile-header-wrapper .bx {
        position: relative;
        top: auto;
    }

    .profile-header-wrapper .title-hidder-div h1 {
        margin-bottom: 0 !important;
    }
}

