.add-supplier-btn {
    display: flex;
    margin-top: 1rem !important;
    padding: 0.5rem 1rem;
    background-color: #EB5B38;
    color: #ffffff;
    border-radius: 0.5rem;
    font-weight: 600;
    text-decoration: none;
    justify-content: center;
    max-width: 210px;
    flex-direction: row;
    margin: 0 auto;
}

.add-supplier-btn:hover {
    background-color: #d04b2b;
    cursor: pointer;
}

.edit-btn-supplier {
    border-radius: 0.5rem;
    background-color: #EB5B38 !important;
}

.edit-btn-supplier:hover {
    background-color: #d04b2b !important;
    cursor: pointer;
}

.details-btn {
    background-color: #347CCB;
}

.details-btn:hover {
    background-color: #010191;
    cursor: pointer;
}

.deactivate-btn {
    background-color: #ff3300;
    color: white;
    font-size: 0.8rem;
    padding: 5px;
    border-radius: 0.5rem;
}

.deactivate-btn:hover {
    background-color: red;
    cursor: pointer;
}

.activate-btn {
    border-radius: 0.5rem;
    background-color: #4eb51b;
    color: white;
    font-size: 0.8rem;
    padding: 5px;
}

.activate-btn:hover {
    background-color: #3a7d19 !important;
    cursor: pointer;
}

td:last-child {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 768px){
    td:last-child {
        display: flex !important;
        flex-direction: row;
        gap: 5px !important;
    }

    .deactivate-btn,
    .details-btn,
    .activate-btn,
    .edit-btn {
        max-width: 150px;
    }

    .supplier-td {
        grid-template-columns: 9ch auto !important;
    }
}