h1 {
    font-size: 2rem !important;
    font-weight: 600 !important;
    color: #1f2937 !important;
    margin: 15px 0 !important;
    padding: 0 0 1rem 0 !important;
    text-align: center !important;
}

.pagination-user-list {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    margin-bottom: 15px !important;
}

.user-list-role-select {
    border: 1px solid #D1D5DB;
}

.table-wrapper {
    width: min(900px, 100% - 3rem) !important;
    margin-inline: auto !important;
}

.amount-of-pages {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-bottom: 15px !important;
    width: 100% !important;
}

table {
    width: 100% !important;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    border-collapse: collapse !important;
    padding: 1rem !important;
    border: 1px solid #ccc;
}

th {
    text-align: left !important;
    background-color: #EB5B38;
    color: white;
}

th,
td {
    border: 1px solid #ccc;
    padding: 1rem !important;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

tr {
    background: #ffffff !important;
}

tr:nth-of-type(2n) {
    background: #f9fafb !important;
}

td form select,
td form input {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
}

#password {
    max-width: 100%;
}

.change-role-admin,
.update-pw-admin {
    border-radius: 10px;
    background-color: #347CCB !important;
    color: white;
    padding: 5px;
    font-size: 0.8rem;
}

.flex.justify-between.flex-1.sm\:hidden {
    display: none !important;
}

.hidden.sm\:flex-1.sm\:flex.sm\:items-center.sm\:justify-between {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1105px) {
    #password {
        max-width: 60%;
    }
}

@media (max-width: 768px) {
    tr {
        border: 1px solid #ccc;
    }
    th {
        display: none !important;
        border: none;
    }
    td {
        padding: 0.75rem 1rem !important;
        display: grid !important;
        grid-template-columns: 15ch auto !important;
        gap: 0.5rem !important;
        border: none;
    }
    td:first-child {
        padding-top: 1rem !important;
        border-top: 1px solid #ccc;
    }
    td:last-child {
        padding-bottom: 1rem !important;
        border-bottom: 1px solid #ccc;
    }
    td::before {
        content: attr(data-cell) ": " !important;
        font-weight: 700 !important;
        text-transform: capitalize !important;
    }
}

@media (max-width: 445px) {
    .user-management {
        font-size: 2rem !important;
    }

    .linha-divisoria {
        width: 150px !important;
    }

    td {
        padding-right: 5px !important;
        gap: 0 !important;
    }

    form {
        align-items: flex-start !important;
    }

    #password {
        max-width: 40% !important;
    }

    .pagination-user-list {
        max-width: 300px !important;
    }

    .hidden.sm\:flex-1.sm\:flex.sm\:items-center.sm\:justify-between {
        max-width: 300px !important;
    }

    span.relative.z-0.inline-flex.rtl\:flex-row-reverse.shadow-sm.rounded-md {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        align-content: center !important;
        justify-content: center !important;
        align-items: center !important;
        margin-bottom: 15px !important;
    }
}

