@import 'sidebarDashboard.css';
@import 'DashboardHeader.css';
@import 'front-dashboard.css';
@import 'dateTime.css';
@import 'payments-history.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #E6E4DC;
    min-height: 100dvh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    font-family: sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.wrapper {
    height: 100dvh;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
}

.container {
    width: 100% !important;
    margin: 0 auto !important;
    position: relative !important;
    top: 0 !important;
}

.after-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.sidebar.hidden {
    position: relative;
    display: none;
}

.sidebar.hidden + .after-content {
    width: 100%;
}

.linha-divisoria {
    border: none;
    border-top: 2px solid #EB5B38;
    margin: 20px 0;
    width: 70%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}