.footer {
    background-color: #272A2D;
    color: #fff;
    padding: 5px 0; /* Reduz o padding */
    text-align: center;
    font-family: Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
}

.footer-content p {
    margin: 3px 0; /* Reduz a margem */
    font-size: 10px; /* Diminui o tamanho da fonte */
}

.footer-icons {
    margin: 5px 0; /* Reduz a margem */
    color: #e6e4dc;
}

.footer-icons a {
    margin: 0 5px; /* Reduz a margem entre os ícones */
    display: inline-block;
}

.footer-icons img {
    width: 20px; /* Reduz a largura dos ícones */
    height: 20px; /* Reduz a altura dos ícones */
    filter: invert(100%);
    transition: transform 0.3s ease;
}

.footer-icons img:hover {
    transform: scale(1.1);
}

.footer-icons i {
    font-size: 20px; /* Diminui o tamanho da fonte dos ícones */
    color: #fff;
    margin: 0 5px; /* Reduz a margem entre os ícones */
    transition: transform 0.3s ease;
}

.footer-icons i:hover {
    transform: scale(1.1);
}
