.event-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.event-details .image {
    width: 100%; /* A imagem vai ocupar toda a largura da div */
    height: 100%; /* A imagem vai ocupar toda a altura da div */
    overflow: hidden; /* Garante que a imagem não saia da div */
    border-radius: 25px; /* Adiciona borda arredondada */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    max-width: 420px;
    max-height: 620px;
}

.event-details .image img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Mantém a proporção da imagem sem cortá-la */
}

.event-details .info {
    justify-self: start; /* Alinha a .info à esquerda */
}

.event-details .info h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
}
.event-details .info .description {
    text-align: center;
    margin-bottom: 40px;
    padding-right: 50px;
}

.local-date {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
    justify-items: center;
}

.price {
    display: flex;
    justify-content: center;
    margin-bottom: 40px
}

.buy-now {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #EB5B38;
    border-radius: 50px;
    border: none;
    text-decoration: none;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
}

.buy-now:hover {
    background-color: #c93510;
    cursor: pointer;
}