* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; 
}

.content h1 {
    color: #eb5b38;
    font-size: 5rem;
}

.content h3 {
    color: #eb5b38;
    font-size: 2rem;
}

.botao {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #272a2d;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, sans-serif;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.botao:hover {
    background-color: #2b2b2b;
}

.botao::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: #ff5533;
    transition: width 0.3s ease;
}

.botao:hover::after {
    width: 80px;
}

.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.leFadeInTop span { animation-name: leFadeInTop }
@keyframes leFadeInTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to { opacity: 1 }
}

.zoomIn { animation-name: zoomIn }
@keyframes zoomIn {
    from {
        transform: scale(10);
        opacity: 0;
    }
}