.container-swiper.swiper {
    width: 100%;
    max-width: 1100px;
}


.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item {
    list-style: none;
    width: 100%;
}

.card-item.swiper-slide-active .card-link {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    z-index: 2;
}

.card-item .card-link {
    transform: scale(0.9);
    transition: transfrom 0.3s ease;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background-color: #272A2D;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid #272A2D;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {
    border-color: #EB5B38;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #EB5B38;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper .swiper-slide-button {
    color: #EB5B38;
    margin-top: -35px;
}

@media (max-width: 800px) {
    .container-swiper.swiper {
        width: 100%;
        max-width: 450px;
    }

    .card-image,
    .card-link {
        width: 100%;
    }

    .card-item,
    .card-wrapper {
        max-width: 365px;
    }

    .filter-section.event-type {
        gap: 2px;
    }

    .filter-section.availability {
        gap: 5px;
    }
}
