.container-private.swiper {
    margin-top: 25px;
    width: 100%;
    max-width: 1100px;
}

.card-wrapper-private {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list-private .card-item-private {
    list-style: none;
    width: 100%;
}

.card-item-private.swiper-slide-active .card-link-private {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    z-index: 2;
}

.card-item-private .card-link-private {
    transform: scale(0.9);
    transition: transfrom 0.3s ease;
}

.card-list-private .card-item-private .card-link-private {
    user-select: none;
    display: block;
    background-color: #272A2D;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid #272A2D;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.05);
    transition: 0.2s ease;
}

.card-list-private .card-item-private .card-link-private:active {
    cursor: grabbing;
}

.card-list-private .card-item-private .card-link-private:hover {
    border-color: #EB5B38;
}

.card-list-private .card-link-private .card-image-private {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.card-wrapper-private .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #EB5B38;
}

.card-wrapper-private .swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper-private .swiper-slide-button-private {
    color: #EB5B38;
    margin-top: -35px;
}

@media (max-width: 815px) {
    .info,
    .description-private,
    .image-private {
        max-width: 600px;
    }
}

@media (max-width: 800px) {
    .container-private.swiper {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .card-list-private {
        max-width: 550px;
    }
    .card-link-private {
        max-width: 400px;
    }

    .card-wrapper-private {
        width: 100%;
        max-width: 400px;
    }

    .filter-section.event-type {
        gap: 2px;
    }
    
    .filter-section.availability {
        gap: 5px;
    }
}

@media (max-width: 610px) {
    .info,
    .description-private {
        max-width: 510px;
    }
}

@media (max-width: 550px) {
    .container-private.swiper {
        width: 100%;
        max-width: 310px;
    }

    .card-wrapper-private {
        width: 100%;
        max-width: 190px;
    }

    .info,
    .description-private {
        max-width: 310px;
    }
}