.search-bar {
    display: flex;
    align-items: flex-start;
    background-color: #272A2D;
    border-radius: 30px;
    padding: 15px 35px 15px 35px;
    color: #E6E4DC;
    width: 80%;
    margin: 20px 149.906px 50px 149.906px;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
}

.search-input {
    display: flex;
    align-items: center;
    background-color: #E6E4DC;
    border-radius: 20px;
    padding: 8px 12px;
    color: #272A2D;
    font-size: 14px;
    flex: 1;
    max-width: 200px;
    margin-top: 26px;
}

.search-input input[type="text"] {
    border: none;
    background: none;
    outline: none;
    color: #272A2D;
    font-size: 16px;
    width: 100%;
    text-decoration: underline;
}

.search-icon {
    cursor: pointer;
    font-size: 16px;
    color: #272A2D;
}

.filter-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.filter-label-title,
.filter-label-event,
.filter-label-filter,
.filter-label-availability {
    font-size: 14px;
    color: #E6E4DC;
    margin-bottom: 15px;
}

.event-date-filter,
.event-type-filter,
.event-availability-filter {
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.event-availability-filter {
    position: relative !important;
    top: 0 !important;
}

.date-filter, .event-type, .availability {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    flex-wrap: wrap;
}

.date-input {
    background-color: #E6E4DC;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    color: #272A2D;
}

.radio-label {
    font-size: 14px;
    color: #E6E4DC;
    display: flex;
    align-items: center;
    gap: 5px;
}

.radio-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #EB5B38;
    cursor: pointer;
}

.radio-button:hover {
    cursor: pointer;
    background-color: #c93510;
}

@media (max-width: 1535px) {
    .search-bar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        width: 500px;
    }
}

@media (max-width: 1242px) {
    .search-input {
        max-width: 400px;
    }

    .container.swiper {
        max-width: 800px;
    }

    .title-event-category {
        font-size: 2rem;
    }
}

@media (max-width: 850px) {
    .container.swiper {
        max-width: 600px;
    }
    .title-event-category {
        font-size: 1.5rem;
    }

    .event-details .image {
        width: 80%;
        height: 90%;
    }

    .event-details .info {
        width: 500px;
    }
    .title-event-category {
        margin-bottom: 50px;
    }
}

@media (max-width: 800px) {
    .search-bar {
        margin: 20px 0 10px 0;
        width: 80%;
    }
    .title-event-category {
        margin-bottom: 50px;
    }

    .container.swiper {
        margin-left: 0;
        margin-right: 0;
        max-width: 400px;
    }
    .swiper {
        margin-left: 0;
        margin-right: 0;
    }
    .event-details .image {
        width: 55%;
        height: 65%;
    }
    .date-filter, .event-type, .availability {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 500px) {
    .search-bar {
        margin: 20px 0 10px 0;
        width: 80%;
    }

    .event-date-filter {
        display: flex;
        flex-direction: column;
    }

    .container.swiper {
        width: 350px;
    }

    .event-details .image {
        width: 50%;
        height: 60%;
    }

    .event-details .info {
        width: 350px;
    }
    .filter-section .from-date,
    .filter-section .to-date {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
    .title-event-category {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .filter-section {
        gap: 0;
    }

    .date-input {
        width: 70%;
    }
}

@media (max-width: 350px) {
    .event-details .info {
        width: 300px;
    }
    .container.swiper {
        margin-bottom: 25px;
        width: 250px;
    }
    .title-event-category {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .filter-section {
        gap: 0;
    }

    .date-input {
        width: 70%;
    }
}